.createFormContainer {
}
.uploadInput {
  input {
    display: none;
  }
}
.inputTitle {
  font-size: 1.5rem;
  font-weight: 100;
}
.inputContainer {
  border-radius: 20px;
  border: 1.5px solid rgba(0, 0, 0, 0.1);
  padding: 2rem;
  &:not(:last-child) {
    margin-bottom: 2rem;
  }

  input {
    border: none;
    outline: none;
    width: 100%;
  }
}
.uploadInput {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  border: 1.5px solid rgba(0, 0, 0, 0.1);
  padding: 2rem;
  &:not(:last-child) {
    margin-bottom: 2rem;
  }
}
.file {
  font-size: 1.2rem;
  font-weight: 100;
}
